/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: var(--bg-light);
  color: var(--text-dark);
}

a {
  text-decoration: none;
  color: inherit;
} */
